.header {
  position: sticky;
  background-color: #fafafa;
  top: 0;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  z-index: 10;
  align-items: center;
}
.header_user_section {
  position: fixed;
  right: 20px;
}
